{# templates/cart/view.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Mon Panier{% endblock %}

{% block body %}
  <h1>Votre panier</h1>
  <p>Contenu du panier à venir…</p>
{% endblock %}
